/*H. */
.navbar
{
background-color:#040204!important;
border-image: linear-gradient(to right,#EEEEC6,#FFD700 , #EEEEC6)1 !important;



}
.fa 
{
color: #ffc107 !important;

}

#change
{
color:#EEEEC6;
}
/*partie du haut conserne le style perso de le Header  */





/*C. */

#co
{
  margin-top:100px;
  padding-top:90px;
}

ol
{
  padding-bottom:90px;
}

.breadcrumb
{
  margin-bottom:110px;
}
.lien{
  color:#EEEEC6 !important;
}
.prix{
  color:#ffc107 !important;

}

.trai
{
  
  border-image: linear-gradient(to right,#1A0B02, #FFD700,#FFD700,#1A0B02)1 !important;
    

  
 
}
#cate
{
  
  background-color:#D3C37B;
  color:#1A0B02;
  
 
}
.my-4{
 color:#FFD700;

}


/* partie du haut conserne le style perso de la page catalogue */


/*R. */


  .my-3
  {
    font-size:2rem;
    font-weight:20px;
    text-transform:uppercase;
    color:#D3C37B;
    
    
    
  }
  
  
  .container
  {
    padding-top:100px;
  }
  .footer {
    text-align: center !important;
    font-size: 0.9rem;
    font-family: "Montserrat"
    
    
  
  
    }
  
    #art
    {
      
      list-style-type: none;
      color:#EEEEC6;
      font-size:20px;
      margin-bottom:10px;
      
      
    }
    .divi{
      border-image: linear-gradient(to right,#1A0B02, #FFD700,#FFD700,#1A0B02)1 !important;
      background: #FFD700;
    }
    #prix{
      font-size:2.5em;
      color:#FFD700;
      text-align:center;
      margin-left: 83px;
    }
  
    
  
    .button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  #sec{
    padding-top:30px;
    font-size:20px;
    text-transform:uppercase;
    letter-spacing:2px;
    text-align:center;
    color:#D3C37B;
  }
  #ar
  {
    text-transform:uppercase;
    display: block;
    text-align:center;
    justify-content:absolute;
  
  }
  
  
  
  #uper
  {
    
    text-transform:uppercase;
    font-weight: 700;
    color: #EEEEC6;
  }
  #info
  {
    padding-top:30px;
    font-size:20px;
    font-weight:20px;
    letter-spacing:2px;
    
    
  }
  
  .button {
    border-radius: 4px;
    background-color: #1A0B02;
    border: none;
    color: #FFD700;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 290px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 20px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .describe
  {
    color:#EEEEC6;
    font-size:20px;
  }
  
  
  
  
/* partie du haut conserne le style perso de la page Article */



/*P. */
#conte
{
  padding-top:110px;
  margin-top:110px;
}

ol
{
  padding-bottom:90px;
}

.breadcrumb
{
  margin-bottom:110px;
}


#elle
{
  
  font-size: 5vw;
  margin-bottom:30px;
  color:#FFD700;
  
}
.lui
{
  margin-top :0px;
  font-size: 1,5vw;
  color:#EEEEC6;
 
}
.trai
{
  
  border-image: linear-gradient(to right,#1A0B02, #FFD700,#FFD700,#1A0B02)1 !important;

  
 
}



/* partie du haut conserne le style perso de la page Apropos */


/* Ac. */

.carou
{
  font-size: 2vw; 
  color: #f3f3f3 !important;

}



h2
{
 position: relative!important;
 font-size: 8vw !important;
 color: #FFD700 !important;
 text-transform:uppercase !important;
 font-weight: 700 !important;

}
.bg-dark{
  background-color:#040204!important ; 
   
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
  margin-bottom:10px !important;
  
  

}


.firts {
  font-size: 12vw;
  color: #FFD700;
  text-align: center !important;
  font-weight: 800;

  

}
.second {
  font-size: 11vw !important;
  color: #FFD700;
  text-align: center !important;
  font-weight: 800;

  

}
.third{
  
  font-size: 12vw;
  color: #FFD700;
  text-align: center!important;
  font-weight: 800;

}
.fourth {
  font-size: 12vw !important;
  color: #FFD700;
  text-align: center !important;
  font-weight: 800;
  

}
#bouton
{
  border: 2px solid #1A0B02;
  color: #ffc107;
  padding: 10px 145px;
  font-size: 16px;
  cursor: pointer;
  
}
#bouton {
  border-color: #ffc107;
  color: #EEEEC6 ;
}

#bouton:hover {
  background-color:  #ffc107;
  color:  #1A0B02;
}
#change
{
  color:#EEEEC6;
}

#boute
{
  padding-top: 50px;
  background-color:  #ffc107;
  color: black;
  padding: 10px 145px;
  font-size: 16px;
  cursor: pointer;
  
}


/* partie du haut conserne le style perso de la page Acceuile */

/* F. */
.footer{
    background:#ffc107 ;
    color:#000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    

    }
    
  
  .un{
    margin-left: 50px;
    text-transform:uppercase;
    
  }
  .deux{
    margin-left: 25px;
  
  }
  
  .fa {
  padding: 20px;
  font-size: 30px !important;
  
  text-align: center;
  text-decoration: none;
  border-radius: 50%; 
  }
  
  a{
    color:#EEEEC6!important;
      text-decoration: none;
      background-color: transparent;
  }
  #as
  {
    color:black!important;
    
  }
  #insta
  {
    color: black !important;
      
  }
  #face
  {
    color: black !important;
      
  }
  #stu{
    list-style-type: none
  
  }
  
/* partie du haut conserne le style perso de la page Footer */

/* Con */

#conter
{
  padding-top:90px;

}

#bouton {
  border-color: #ffc107;
  color: #EEEEC6 ;
}

#bouton:hover {
  background-color:  #ffc107;
  color:  #1A0B02;
}
   


.bg-dark{
  background-color:#020202!important ;
   
   
}
.contac{
  font-size: 5vw; 
  text-align: left !important;
  
   
}
.subheading{
  font-size: 2vw;
}
.test
{
  color:#EEEEC6;
  font-size:1.4rem;
  margin-bottom:50px;
}
label
{
  color:#EEEEC6;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  background-color: #EEEEC6 !important ;
  background-clip: padding-box;
  border: 1px solid #000000;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* partie du haut conserne le style perso de la page Contacte */



  




  
  
  
    
  
