.accordion-item{
background-color: #1A0B02;
color:#FFD700;
margin:1rem 0;
border-radius: 0.5rem;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
}

.accordion-item-header{
padding: 0.5rem 3rem 0.5rem 1rem;
min-height: 3.5rem;
line-height: 1.25rem;
font-weight: bold;
display: flex;
align-items: center;
position: relative;
cursor: pointer;
}

.accordion-item-header::after{
    content: "\25BC";
    font-size: 2rem;
    position: absolute;
    right: 1rem; 
    transition: transform 0.2s ease-in-out; 

}

.accordion-item-header.active::after{

    transform: rotate(-180deg);
    

}

.accordion-item-body{
    display: none;
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 3px solid ;
    border-image: linear-gradient(to right,#1A0B02,#FFD700 , #EEEEC6)1 !important;

    

}

.accordion-item-header.active + .accordion-item-body{
    display: block;

}  

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px 50px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: black;
  }
  
  