
body {
margin: 0;
padding:0;
font-family: 'Montserrat' !important;
background-color: #040204 !important ;
  

}





.navbar-brand{
  margin:0;
  background-color: #020202!important ;

}
.logo{
  height: 50px;
  padding-right: 15px;
  padding-left: 5px;
}
.navbar-inverse{
  height: 65px;
  padding-top:5px;
}


.carou
{
  position: relative;
  font-size: 8vw;
  color: #EEEEC6;
  text-transform:uppercase;
  

}




.bg-dark{
  background-color:#020202!important ; 
   
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
  margin-bottom:30px !important;
  

}


.filterDiv {
  display: none;
}

.show {
  display: block;
}
